*
{
    box-sizing: content-box;
    padding:0;
    margin: 0;
    font-family: 'Roboto';

}

.header
{
    background-color: #1F2937;
    padding-left:10%;
    padding-right:10%;
    color: white;
   
   
    
}

.profile
{
    width: 200px;
    border-radius: 100%;
}

nav
{
    display: flex;
    justify-content: space-between;
    margin: 0;

}

.banner
{
    display: flex;
    justify-content: space-between;
    padding-top: 7%;
    padding-bottom: 2%;
}

ul
{
    list-style: none;
    display: flex;
    gap: 10px;
}

.banner-text
{
    display: flex;
    flex-direction: column;
    
}

.banner-button
{
    background-color: #3882F6;
    
    border-radius: 50px;
    width: 200px;
    margin-top: 10px;
    border: none;
    font-size: 36px;
    font-weight: 900;
    color: white;
   
}

.banner-text h3
{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

}

.banner-text p
{
    font-size: 18px;
}

.info  h4
{
   text-align: center; 
   padding: 3%;
   font-size: 36px;
   color: #1F2937;
   font-size: 900;
}

.content
{
    display: flex;
    gap: 10px;
    justify-content: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

.content div 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10%;
    
}

.content-img
{
    width: 150px;
}

.test
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 60px;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    
    
}

#cus
{
    align-self: flex-end;
    font-weight: bold;
}

.cto
{
    display: flex;
    margin-top: 10%;
    padding: 5%;
    background-color: #3882F6;

    align-items: center;

    border-radius: 30px;

    margin-right: 100px;
    margin-left: 100px;
    justify-content: space-around;
    color: white;
     margin-bottom: 10%;

}

.call
{
    font-size: 48px;
    margin-bottom: 5px;
}

.contact
{
    border:2px solid #F9FAF8;
    font-size: 32px;
    padding: 10px;
    border-radius: 20px;
   
}

footer
{
    margin-top: auto;
    display:flex;
    justify-content: center;
    background-color: gray;
    font-size: 22px;
    color: white;
    padding: 10px;
}